@import "../../index.scss";

.header-container {
  display: grid;
  grid-template-columns: 50px auto 50px;
  height: 100%;
}

.hamburger-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container {
  max-height: 50px;
}

.logo-container svg {
  height: 50px;
  width: 50px;
  padding: 8px;
}

@media only screen and (min-width: 500px) {
  .header-container {
    align-items: center;
  }
}
