body.light {
  $bg: #fcfcfc;
  $bg-panel: #f2f2f2;
  $primary-color: #4f4f50;
  $font-color: #373737;

  background-color: $bg;
  color: $font-color;

  .primary-color {
    color: $primary-color;
  }
}
