@import "./resources/Animations.scss";

@import "./themes/default/light.scss";
@import "./themes/default/dark.scss";

@import "./themes/blue/light.scss";
@import "./themes/blue/dark.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
}
