body.dark-blue {
  $bg: #000000;
  $bg-panel: #222222;
  $primary-color: #67a9ed;
  $font-color: #fcfcfc;

  background-color: $bg;
  color: $font-color;

  .primary-color {
    color: $primary-color;
  }

  .primary-fill {
    fill: $primary-color;
  }

  .primary-border {
    border: 1px solid $primary-color;
  }

  .bg-panel-border-bottom {
    border-bottom: 2px solid $bg-panel;
  }

  .bg-panel-border-top {
    border-top: 2px solid $bg-panel;
  }

  .bg-panel-bg-color {
    background-color: $bg-panel;
  }

  .bg-panel-color {
    color: $font-color;
  }
}
