body.light-blue {
  $bg: #fcfcfc;
  $bg-panel: #f2f2f2;
  $primary-color: #1e63b8;
  $font-color: #373737;

  background-color: $bg;
  color: $font-color;

  .primary-color {
    color: $primary-color;
  }

  .primary-fill {
    fill: $primary-color;
  }

  .primary-border {
    border: 1px solid $primary-color;
  }

  .bg-panel-border {
    border: 5px solid $bg-panel;
  }

  .bg-panel-border-bottom {
    border-bottom: 2px solid $bg-panel;
  }

  .bg-panel-border-top {
    border-top: 2px solid $bg-panel;
  }

  .bg-panel-bg-color {
    background-color: $bg-panel;
  }

  .bg-panel-color {
    color: $font-color;
  }

  .bg-panel-bg-darken-hover {
    &:hover {
      background-color: darken($color: $bg-panel, $amount: 10);
    }
  }
  
  .primary-color-darken-hover {
    &:hover {
      color: darken($color: $primary-color, $amount: 10);
    }
  }

  #navbar.bg-panel-bg-color {
    background-color: $bg;
  }
}